exercicio14/Program.cs
exercicio14/obj/Debug/net10.0/refint/exercicio14.dll
exercicio14/obj/Debug/net10.0/ref/exercicio14.dll
exercicio14/obj/Debug/net10.0/exercicio14.sourcelink.json
exercicio14/obj/Debug/net10.0/exercicio14.pdb
exercicio14/obj/Debug/net10.0/exercicio14.GlobalUsings.g.cs
exercicio14/obj/Debug/net10.0/exercicio14.genruntimeconfig.cache
exercicio14/obj/Debug/net10.0/exercicio14.GeneratedMSBuildEditorConfig.editorconfig
exercicio14/obj/Debug/net10.0/exercicio14.dll
exercicio14/obj/Debug/net10.0/exercicio14.csproj.FileListAbsolute.txt
exercicio14/obj/Debug/net10.0/exercicio14.csproj.CoreCompileInputs.cache
exercicio14/obj/Debug/net10.0/exercicio14.assets.cache
exercicio14/obj/Debug/net10.0/exercicio14.AssemblyInfoInputs.cache
exercicio14/obj/Debug/net10.0/apphost.exe
exercicio14/obj/Debug/net10.0/exercicio14.AssemblyInfo.cs
exercicio14/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
exercicio14/obj/project.nuget.cache
exercicio14/obj/project.assets.json
exercicio14/obj/exercicio14.csproj.nuget.g.targets
exercicio14/obj/exercicio14.csproj.nuget.g.props
exercicio14/bin/Debug/net10.0/exercicio14.runtimeconfig.json
exercicio14/obj/exercicio14.csproj.nuget.dgspec.json
exercicio14/bin/Debug/net10.0/exercicio14.pdb
exercicio14/bin/Debug/net10.0/exercicio14.dll
exercicio14/bin/Debug/net10.0/exercicio14.exe
exercicio14/bin/Debug/net10.0/exercicio14.deps.json
ex13/obj/Debug/net10.0/ex13.GlobalUsings.g.cs
ex13/obj/Debug/net10.0/ex13.GeneratedMSBuildEditorConfig.editorconfig
ex13/obj/Debug/net10.0/ex13.AssemblyInfoInputs.cache
ex13/obj/Debug/net10.0/ex13.AssemblyInfo.cs
ex13/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
ex12/obj/Debug/net10.0/ex12.GlobalUsings.g.cs
ex12/obj/Debug/net10.0/ex12.GeneratedMSBuildEditorConfig.editorconfig
ex12/obj/Debug/net10.0/ex12.AssemblyInfoInputs.cache
ex12/obj/Debug/net10.0/ex12.AssemblyInfo.cs
ex12/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
ex10/obj/Debug/net10.0/ex10.GlobalUsings.g.cs
ex10/obj/Debug/net10.0/ex10.GeneratedMSBuildEditorConfig.editorconfig
ex10/obj/Debug/net10.0/ex10.AssemblyInfoInputs.cache
ex10/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
ex10/obj/Debug/net10.0/ex10.AssemblyInfo.cs
ex09/obj/Debug/net10.0/ex09.GeneratedMSBuildEditorConfig.editorconfig
ex09/obj/Debug/net10.0/ex09.GlobalUsings.g.cs
ex09/obj/Debug/net10.0/ex09.AssemblyInfoInputs.cache
ex09/obj/Debug/net10.0/ex09.AssemblyInfo.cs
ex09/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
ex08/obj/Debug/net10.0/ex08.GlobalUsings.g.cs
ex08/obj/Debug/net10.0/ex08.GeneratedMSBuildEditorConfig.editorconfig
ex08/obj/Debug/net10.0/ex08.AssemblyInfoInputs.cache
ex08/obj/Debug/net10.0/ex08.AssemblyInfo.cs
ex08/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
ex07/obj/Debug/net10.0/ex07.GlobalUsings.g.cs
ex07/obj/Debug/net10.0/ex07.GeneratedMSBuildEditorConfig.editorconfig
ex07/obj/Debug/net10.0/ex07.AssemblyInfoInputs.cache
ex07/obj/Debug/net10.0/ex07.AssemblyInfo.cs
ex07/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
